:root {
    --main-darkgray: #2c2e2c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 4rem;
}

button {
    width: 25%;
    height: auto;
    border: 4px solid var(--main-darkgray);
    border-radius: 25px;
}